

/* ------------ GENERAL ------------  */

html {
  background-image: URL(./img/gray.jpg);
  background-color: #B8B8B8;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: Geneva, Helvetica;
  font-size: 15px;
}


h1 {
  color: gray;
  font-size: 30px;
}

h2{
  margin-top: 6px;
  color: #C8C8C8;
}

h3 {
  color: #F0F0F0;
  font-family: Geneva, Helvetica;
  font-size: 20px;
}

h4 {
  font-size: 12px;
  font-family: Geneva, Helvetica;
}

a {
  text-decoration: none;
  color: #F0F0F0;
  padding: 3px 10px 4px 10px;
}

a:hover {
  background-color: #FFCC00;
}

li {
  list-style: none;
  position: relative;
  left: -25px;
}

/* ------------ HEADER ------------  */

header {
  background-color: none;
}

#name_link {
  color: white;
}

#Hi {
  font-family: Geneva, Helvetica;
  font-size: 55px;
  color: #D0D0D0;
}

#header_name {
  font-family: Geneva, Helvetica;
  color: white;
  font-size: 60px;
  text-align: right;
  margin-bottom: 0px;
  margin-top: 20px;
  margin-right: 20px;
}

#header_position {
  text-align: right;
  color: #909090;
  margin: -5px 23px 18px 0px
}

/* ------------ NAVIGATION ------------  */

#nav_bar {
  background-image: url("./img/gray_dark.jpg");
  background-color: gray;
  font-family: Raleway, Helvetica;
  width: 100%;
  padding: 3px;
  padding-right: 13px;
  padding-bottom: 4px;
  position: relative;
  left: -8px;
  max-height: 16px;
}

.nav_items {
  margin-left: 30px;
  margin-right: 5px;
  display: inline;
}

.nav_light {
  color: gray;
}

/* ------------ CONTENT CONTAINER ------------  */

#container {
  width: 100%;
  height: 450px;
  position: relative;
}

#left {
  background-image: url("./img/felt_bg.jpg");
  background-color: white;
  width: 50%;
  height: 430px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 20px;
  padding-top: 20px;
  margin-left: -10px;
  text-align: left;
  overflow-y: scroll;
  overflow-x: hidden;
}

#right {
  background-image: url("./img/felt_bg.jpg");
  background-color: white;
  color:white;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50.65%;
  height: 450px;
}

#blurb {
  text-align: left;
  font-size: 30px;
  overflow: hidden;
  color: #A8A8A8;
  font-size: 60px;
  margin-top: 20px;
}

#blurb p {
  max-width: 550px;
  padding-top: 90px;
}

#blurb span {
  font-size: 60px;
  color: #C8C8C8;
}

#profile_pic {
  position: absolute;
  top: 0px;
  right: -10px;
  width: 450px;
  height 450px;
}

/* ------------ UNDER MAIN CONTAINER ------------  */

#under_main {
  position: relative;
  width: 100%;
  min-height: 200px;
  overflow: hidden;
}

#under_main_left {
  position: relative;
  top: 0px;
  left: 20px;
  width: 70%;
  min-height: 200px;
  overflow: hidden;
  float: left;
}

#blog_posts, #blog_left, #blog_right {
  width: 170px;
  height: 39px;
  float: left;
  position: relative;
  margin-top: 30px;
}

#blog_posts {
  width: 110px;
  height: 200px;
  position: relative;
  top: -7px
}

.blog_span {
  display: block;
  color: gray;
  font-size: 10px;
  margin: 0px 20px 8px 12px;
}

#under_main_right {
  position: relative;
  width: 30%;
  min-width: 150px;
  min-height: 200px;
  overflow: hidden;
  float: right;
  text-align: right;
  margin-top: 0px;
}

.social_links li {
 padding-top: 8px;
}

/* ------------ FOOTER ------------  */

footer {
  width: 100%;
  height: 20px;
  font-size: 10px;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0px
}

#email_link {
  color: white;
  font-size: 10px;
}


/* END */