// .debug {border: solid red 1px; box-sizing:border-box;}

body {
  height: 100vh;
  width: 100vw;
  font-family: helvetica-light;
  letter-spacing: 2px;
  font-size: 1.2em;
  margin: 0;
  padding: 0;

  //  background: url("../img/pink.png");
  // background-repeat: no-repeat;
  // background-size: 30%;
  // background-position: 50% 0%;
}

#hello {
  font-size: 3.5em;
  width: 100vw;
  height: 100vh;
  color: #e0e0e0;
  text-align: center;
  padding-top: 46.5vh;
}
.openSite {
  display: none;
}

.text-cont {
  position: relative;
  margin-top: calc(50% - 80px);
  width: 100%;
  height: 20px;
}
.ball-cont {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: calc(50% - 100px);
  transition: ease .5s all;
  z-index: 5;
}
.half-left {
  background: #d6006c;
  height: 200px;
  width: 100px;

  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  display: inline-block;
  cursor: pointer;
}
.half-right {
  background: #009dd8;
  height: 200px;
  width: 100px;

  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  display: inline-block;
  cursor: pointer;
}
.grow-left {
  background: #d6006c;
  width: 0px;
  height: 100%;

  margin-left: -1px;
  border-radius: 100% / 50%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.grow-right {
  background: #009dd8;
  width: 0px;
  height: 100%;
  float: right;

  margin-right: -1px;
  border-radius: 100% / 50%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.title-left {
  display: none;
  float: left;
  font-size: 1.5em;
  letter-spacing: 5px;
}
.title-right {
  margin-right: -50px;
  display: none;
  float: right;
  font-size: 1.5em;
  letter-spacing: 5px;
}


// PLANES
.plane {
  width: 600px;
  height: 600px;
  position: fixed;
  display: visible;
}
.A {
  background: url("../img/left.png");
  background-size: 550px;
  background-repeat: no-repeat;
}
.B {
  background: url("../img/right.png");
  background-size: 600px;
  background-repeat: no-repeat;
  pointer-events: none;
  right: 0;
}
.C {
  background: url("../img/back.png");
  background-size: 600px;
  background-repeat: no-repeat;
}
.D {
  width: 600px;
  height: 600px;
  position: fixed;
  margin-left: calc(50% - 285px);
}

// #ball-shadow {
//   position: absolute;
//   left: 50%;
//   top: 70%;
//   z-index: 10;
//   margin-left: -50px;
//   width: 100px;
//   height: 60px;

//   background: rgba(20, 20, 20, .1);
//   box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
//   border-radius: 80px / 40px;
//   -webkit-transform: scaleY(.3);
//   -moz-transform: scaleY(.3);
//   -ms-transform: scaleY(.3);
//   -o-transform: scaleY(.3);
//   transform: scaleY(.3);
// }
