

//////////////////////
///// VARIABLES //////
//////////////////////

$cyan: #03d5f7;
$magenta: #CA46CA;
$cyan-line: 1px $cyan solid;
$magenta-line: 1px $magenta solid;

$side-margins: 20vw;
$body-margin: 60vw; // 100% minus 2x side margins

///////////////////
///// MIXINS //////
///////////////////


@mixin font {
  font: {
    family: helvetica;
    weight: lighter;
    size: .8em;
  }
  line-height: 1.38em;
  letter-spacing: 1.5x;
}

@mixin btn($side, $padding) {
    float: $side;
    padding: $padding;
    cursor: pointer;
    @include ease();
    &:hover {color: $magenta;}
    &:active {color: lighten($magenta, 20%);}

}

@mixin ease($value: 0.2s) {
  -webkit-transition: all ease $value;
  -moz-transition: all ease $value;
  -ms-transition: all ease $value;
  -o-transition: all ease $value;
  transition: all ease $value;
}

@mixin drop-shadow($value: 0px 0px 20px 1px $indigo-med) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}

@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin debug($color: red) {
  border: $color solid 1px;
  @include box-sizing();
}

@mixin user-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin arrow($color, $margin) {
  width: 0;
  height: 0;
  margin: $margin;
  border-style: solid;
  border-width: 10px 6.5px 0 6.5px;
  border-color: $color transparent transparent transparent;
}

@mixin no-shadow() {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}








///////////////////////
///// PAGE BEGIN //////
///////////////////////

body {
  padding: 0;
  margin: 0;
  @include font;
}
header {
  position: relative;
  height: 75px;
  border-bottom: $cyan-line;
  overflow: hidden;
  #heading-btn-cont {
    position: absolute;
    right: 0;
    width: 40%;
    height: 45px;
    margin: 15px $side-margins;
  }
  img {
    position: absolute;
    left: 0;
    margin: 15px $side-margins;
    height: 45px;
  }
  .gen-btn {
    @include btn(right, calc(22.5px - .5em) );
  }
}
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 35px;
  border-top: $cyan-line;
  box-sizing: border-box;
}

h2 {
  font-size: 1.5em;
}

.flex-cont {
  max-width: $body-margin;
  margin: 0 auto;
  // border: solid 1px red;
}

#flex-btn-cont {
  width: 100%;
  height: 45px;
  border-bottom: $cyan-line;
  overflow: hidden;
  .gen-btn {
    @include btn(left, calc(22.5px - .5em) )
  }
}

.pg-cont {
  margin-bottom: 35px;
  width: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: row;
  flex-direction: row;

  -webkit-flex-flow: row wrap;
  align-items: stretch;
  flex-flow: row wrap;
}

.profile-cont {
  position: relative;
  background: #e0e0e0;
  width: 100%;
  height: 300px;
  #profile-img img {
    @include box-sizing;
    position: absolute;
    width: 220px;
    height: 220px;
    background: white;
    bottom: 30px;
    left: 30px;
    border: $cyan-line;
    padding: 10px;
  }
  .splash-header {
    width: inherit;
    height: inherit;
    img {object-fit: cover;}
  }
}

// .art-1 {background: gray;}
// .art-2 {background: red;}
.art-4 {background: purple; border: yellow 1px solid;}

.main {
  order: 2;
  -webkit-flex: 3 0 0;
  flex: 3 0 0;
  min-width: 500px;
}
.aside-A, .aside-B {
  // border: solid magenta 1px;
  // background: #e0e0e0;
  // margin: 25px;
  padding-top: 25px;
  box-sizing: border-box;
}
.aside-A {
  order: 1;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  margin-right: 20px;
  // border-right: $cyan-line;
  .cont {
    position: relative;
    border: $cyan-line;
    width: 230px;
    height: 300px;

    margin-bottom: 20px;
  }
  .square-cont {
    width: inherit;
    height: 260px;
    margin-top: 40px;
    overflow-x: hidden;
  }
  .conn-ppl, .conn-teams {
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px 0 0 10px;
    overflow: hidden;
    img {
      object-fit: cover;
      height: inherit;
      width: inherit;
    }
  }
  input {
    height: 30px;
    width: 210px;
    padding-left: 5px;
    margin: 10px 10px 0 10px;
    position: absolute;
    top: 0;
    @include box-sizing;
  }
}
.aside-B {
  margin-left: 20px;
  order: 3;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  .advertisement {
    width: 221px;
    height: 180px;
    background: #e0e0e0;
    float: right;
    margin-bottom: 10px;
    img {
      object-fit: cover;
      width: inherit;
      height: inherit;
    }

  }

}
.article {
  border: $cyan-line;
  margin-top: 25px;
  position: relative;
  height: 250px;
  width: 100%;
  .images {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    img {
      height: 100%;
      width: 50%;
      object-fit: cover;
      float: right;
    }
  }
  .text {
    position: absolute;
    left: 0;
    height: 100%;
    width: 50%;
    padding: 20px;
    z-index: 100;
    box-sizing: border-box;
    overflow: hidden;
    .title {
      font-size: 1.5em;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 1.2em;     /* fallback */
      max-height: 3em;      /* fallback */
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
      margin-bottom: .8em;
    }
    .content {
      font-size: 1em;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      max-height: 12.42em;      /* fallback */
      -webkit-line-clamp: 9; /* number of lines to show */
      -webkit-box-orient: vertical;
      margin-bottom: .8em;
    }
  }
}






///////////////////
///// MEDIUM //////
///////////////////

@media all and (max-width: 1300px) {
  header {
    img {margin: 15px 20px !important;}
    #heading-btn-cont {margin: 15px 20px !important;}
  }
  .advertisement {margin: 0 1vw;}
  .flex-cont {max-width: 100vw;}
  .pg-cont {
    max-width: 96vw;
    margin: 0 2vw;
  }
}


//////////////////
///// SMALL //////
//////////////////

@media all and (max-width: 800px) {
  .aside-A, .aside-B {flex: 1 100%;}
  .aside-A {
    order:2;
    .cont {
      width: 100%;
      height: 200px;
      margin-left: 10px;
    }
    .square-cont {
      height: 160px;
      margin-top: 40px;
    }
  }
  .aside-B {
    order:3;
    display: none;
  }
  .main {
    -webkit-flex: 3 0 0;
    flex: 3 0 0;
    order:1;
  }
  .article {
    position: relative;
    height: 500px;
    width: 100%;
    .images {
      position: intial;
      height: 50%;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .text {
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: 0;
      width: 100%;
      height: 50%;
      display: inline-block;
    }
  }
  .main {min-width: 0;}

}